@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


 .navbar-brand img {
	width: 60px !important;
}
* {
	margin: 0;
	padding: 0;
	
}
html {
	scroll-behavior: smooth;
  }
  body {
	font-family: 'Roboto', sans-serif !important;
	overflow-x: hidden;
  }

.container-fluid{
	padding: 0 !important;
}

.display-4 {
	color: #3e4555;
	font-weight: 500 !important;
}

/* début de header */
.bg-img {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .jumbotron {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
#header {
	color: #fff;
}
#header .bg-img {
	height: auto;
	min-height: 450px !important;
}
  

/* nav bar  */
nav .d-flex {
	align-items: center;
}
nav .nav-link:hover {
	color: #7313C3 !important;
}


#nav-secondaire .dropdown-item:hover {
	color: #fff;
	background-color: #7313C3;

}
.rounded-circle { /* pour l'avatar de profile */
	width: 3rem;
}
 
/* fin de header */
	/** Nav Menu */
	ul.nav-menu{
		padding: 0px;
		margin: 0px;
		list-style-type: none;
		width: 490px;
		margin: 60px auto;
	}

	ul.nav-menu li{
		display: inline;
		margin-right: 10px;
		padding:10px;
		border: 1px solid #ddd;
	}

	ul.nav-menu li a{
		color: #eee;
		text-decoration: none;
		text-transform: uppercase;
	}

	ul.nav-menu li a:hover, ul.nav-menu li a.active{
		color: #2c3e50;
	} 
	/* debut de page admin */
#admin .row {
	margin-top: 2.5rem;
}
#packages-admin {
	width: 50%;
	margin: 0 auto;
}

.btn-primary {
	background: #8400ff;
	border: none;
}

.btn-primary:hover,
.btn-primary:focus {
	background-color: #7313c3 !important;
	border: none;
}

.btn-primary:not(:disabled):not(.disabled):active{
	background: #8400ff;
}

.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

/* fin de page admin*/
	/** content **/
	.content{
		margin-top: 100px;
		margin-left: 100px;
		width: 700px;
	}
	.content h1, .content h2{
		font-family: "Source Sans Pro",sans-serif;
		color: #ecf0f1;
		padding: 0px;
		margin: 0px;
		font-weight: normal;
	}

	.content h1{
		font-weight: 900;
		font-size: 64px;
	}

	.content h2{
		font-size:26px;
	}

	.content p{
		color: #ecf0f1;
		font-family: "Lato";
		line-height: 28px;
		font-size: 15px;
		padding-top: 50px;
	}

	p.credit{
		padding-top: 20px;
		font-size: 12px;
	}

	p a{
		color: #ecf0f1;
	}

	/** fork icon**/
	.fork{
		position: absolute;
		top:0px;
		left: 0px;
	}

/* début de profil*/

#profile {
	background-color: #f7f7f7;
}
 #info-perso, #info-projet,#info-cours {
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.125);
	margin:5px;
	 padding: 10px;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),
	0 1px 2px 0 rgba(0,0,0,.06);
}
#btn-profil {
	margin-bottom: 15px;
}
#img-avatar {
	width: 120px;
	margin-bottom: 5%;
}

.btn-primary {
	background-color: #8400FF !important;
	border-color: transparent !important;
}

.btn-primary:hover {
	background-color: #7313c3 !important;
}
#profile table .thead-dark th {
	background-color: #8400FF !important;
}

/* fin de profil*/
/* début de panier*/
#panier .btn-success{
	background: #8400ff;
	border: #8400FF;
}
#panier .btn-success:hover {
	background: #7313c3;
}
#panier .btn-success:focus {
	border: #8400FF;
	box-shadow: none;
}
/* fin de panier*/
  /* section de prix */
  
.pricing4 {
  font-family: "Roboto", sans-serif;
  color: #8d97ad;
  font-weight: 300;
}

.pricing4 h1,
.pricing4 h2,
.pricing4 h3,
.pricing4 h4,
.pricing4 h5,
.pricing4 h6 {
  color: #3e4555;
}

.pricing4 .font-weight-medium {
  font-weight: 500;
}

.pricing4 .bg-light {
  background-color: #f4f8fa !important;
}

.pricing4 .subtitle {
  color: #8d97ad;
  line-height: 24px;
}

.pricing4 .font-14 {
  font-size: 14px;
}

.pricing4 .font-13 {
  font-size: 13px;
}

.pricing4 .card.card-shadow {
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.pricing4 .text-success {
  color: #2cdd9b !important;
}

.pricing4 .price small {
  color: #8d97ad;
  font-size: 16px;
}

.pricing4 h5 {
    line-height: 22px;
    font-size: 18px;
}

.pricing4 .btn-danger {
  background: #8400FF;
}

 .pricing4 .btn-danger:hover {
  background: #7313C3;
}

.pricing4 .btn-md {
    padding: 10px 25px;
    font-size: 16px;
}


/* form contactez nous */

#contactez-nous form {
	width: 50%;
	margin: 0 auto;
}
#contactez-nous #submit-btn {
	background-color: #8400FF;
	border: 1px solid #7313C3;
}

#contactez-nous #submit-btn:hover {
	background-color: #7313C3;
}


#qui-sommes-nous p {
	color: #3e4555;
	width: 70%;
	text-align: center;
	margin: 0 auto;
}


/* début de footer */
footer {
	margin-top: 5%;
	background: #7313c3;
	color: #fff;
}
footer ul {
	list-style-type: none;
}
footer .icons {
	font-size: 30px;
	color: #fff;
	margin-left: 20%;
	padding: 10px 0 0 10px;
}
footer .icon-paie {
	font-size: 30px;
}

footer .icon-paie:hover {
	color: #ffffff;
	cursor: pointer;
}
/* fin de footer */
