<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>{% block title %}The CODEMAN {% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="stylesheet"  type="text/css" href="{{ asset('css/style.css') }}">

        <script src="https://kit.fontawesome.com/fcc0eb1910.js" crossorigin="anonymous"></script>
    </head>
    <body>
<<<<<<< Updated upstream
    <!-- début de navbar -->
    <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light  ">
        <a class="navbar-brand" href="#"><img src="./imgs/logo/logo2 " id="logo" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <!-- navbar primary -->
            <ul class="navbar-nav" id="nav-primaire">
                <a class="nav-link" href="#package-creation">Créon Votre site</a>
                <a class="nav-link" href="#package-cours">Apprenez à Coder</a>
                <a class="nav-link" href="#contactez-nous">Contactez Nous</a>
                <a class="nav-link" href="#qui-sommes-nous">Qui sommes Nous?</a>
            </ul>
            <!-- fin de navbar primary -->

            <!-- navbar avec cart et profil -->

            <!-- pour la page admin -->
            <ul class="navbar-nav ml-auto d-flex" id="nav-secondaire">
                <li class="nav-item d-flex" id="admin">
                    <a href="#" class="nav-link"><i class="fas fa-users-cog"></i> Admin </a>
                </li>

                <!-- pour connexion/déconnexion -->
                <li class="nav-item">
                    <a href="login-register/login.html" class="nav-link">
                        <i class="fas fa-user"></i> Login/Register
                    </a>
                </li>
                <!-- pour la cart  -->
                <li class="nav-item">
                    <a href="./panier/panier.html" class="nav-link">
                        <span class="badge badge-pill red">1</span>
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>

                <!-- pour le profil -->
                <li class="nav-item avatar dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <img src="imgs/img-avatar.png" class="rounded-circle z-depth-0"
                             alt="avatar image">
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
                         aria-labelledby="navbarDropdownMenuLink-55">
                        <a class="dropdown-item" href="./profil/profil.html">Voir Profil</a>
                        <a class="dropdown-item" href="#">Déconnexion</a>
                    </div>
                </li>
            </ul>
            <!-- fin de navbar avec cart et profil -->
        </div>
    </nav>
    <!-- fin de navbar -->
    <!-- début de header -->
    

    <div class="container-fluid" id="header">
        <div class="jumbotron bg-img" style="background: url('imgs/bg.jpg');">
            <div>
            <h1>THE CODE MAN</h1>
            <p>Le CODE MAN est un organisation qui vous aider réaliser que vous pouvez juste imaginer</p>
        </div>
    </div>
 
    <!-- fin de header -->
    <!-- début de package création -->
    <div class="container-fluid" id="package-creation">
      <div class="pricing4 py-5 bg-light">
        <div class="container">
          <!-- Row  -->
          <div class="row justify-content-center">
            <div class="col-md-8 text-center">
              <h4 class="display-4">Nos Package - Création</h4>
              <h6 class="subtitle font-weight-normal">Vous pouvez relayer notre liste de fonctionnalités étonnantes et notre service client sera une expérience formidable pour vous sans aucun doute</h6>
            </div>
          </div>
          <!-- Row  -->
          <div class="row mt-4">
            <!-- Column -->
            <div class="col-md-4">
              <div class="card card-shadow border-0 mb-4">
                <img class="card-img-top" src="imgs/pkg-imgs/iron-3.png" alt="wrappixel kit">
                <div class="p-3">
                  <h5 class="font-weight-medium mb-0">IRON PACKAGE</h5>
                  <!-- <h6 class="subtitle font-13">Standard package</h6> -->
                  <ul class="list-inline font-14 mt-3">
                    <li class="py-1"><i class="icon-check text-success"></i> Site vitrine Front-end</li>
                    <li class="py-1"><i class="icon-check text-success"></i> Nombre de Page 1-3</li>
                    <li class="py-1"><i class="icon-check text-success"></i> HTML5, CSS3, Bootstrap 4</li>
                    <li class="py-1"><i class="icon-check text-success"></i> Mise à jour périodique</li>
                    <li class="py-1"><i class="icon-check text-success"></i> Veille technologique</li>
                    <li class="py-1"><i class="icon-check text-success"></i> Jusqu'a 3 modifications du site</li>
                    <li class="py-1"><i class="icon-check text-success"></i> Sous 3 jours</li>
                  </ul>
                  <div class="d-flex mt-3 align-items-center">
                    <h2 class="price">€100</h2>
                    <div class="ml-auto"><a class="btn btn-danger rounded-pill text-white btn-md border-0" href="">Choisir Package</a></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Column -->
            <div class="col-md-4">
              <div class="card card-shadow border-0 mb-4">
                <img class="card-img-top" src="imgs/pkg-imgs/platinum-3.png" alt="wrappixel kit">
                <div class="p-3">
                  <h5 class="font-weight-medium mb-0">PLATINUM PACKAGE</h5>
                  <!-- <h6 class="subtitle font-13">with CODE MAN</h6> -->
                  <ul class="list-inline font-14 mt-3">
                    <li class="py-1"><i class="icon-check text-success"></i> Nombre de page 5-7 </li>
                    <li class="py-1"><i class="icon-check text-success"></i> HTML5, CSS3, Bootstrap 4, Javascript</li>
                    <li class="py-1"><i class="icon-check text-success"></i> Mise à jour périodique</li>
                    <li class="py-1"><i class="icon-check text-success"></i> Veille technologique</li>
                    <li class="py-1"><i class="icon-check text-success"></i> BDD avec php</li>
                    <li class="py-1"><i class="icon-check text-success"></i> Jusqu'à 6 modifications</li>
                    <li class="py-1"><i class="icon-check text-success"></i> Sous 7 Jours Ouvrés</li>
                  </ul>
                  <div class="d-flex mt-3 align-items-center">
                    <h2 class="price">€350</h2>
                    <div class="ml-auto"><a class="btn btn-danger rounded-pill text-white btn-md border-0" href="">Choisir Package</a></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Column -->
            <div class="col-md-4">
              <div class="card card-shadow border-0 mb-4">
                <img class="card-img-top" src="imgs/pkg-imgs/diamond-3.png" alt="wrappixel kit">
                <div class="p-3">
                  <h5 class="font-weight-medium mb-0">DIAMOND PACKAGE</h5>
                  <!-- <h6 class="subtitle font-13">with CODE MAN</h6> -->
                  <ul class="list-inline font-14 mt-3">
                    <li class="py-1"><i class="icon-check text-success"></i> Nombres de page: 8 et plus </li>
                    <li class="py-1"><i class="icon-check text-success"></i> Front-end en React.js </li>
                    <li class="py-1"><i class="icon-check text-success"></i> Back-end en Symfony</li>
                    <li class="py-1"><i class="icon-check text-success"></i> Mise à jour régulière</li>
                    <li class="py-1"><i class="icon-check text-success"></i> Veille technologique</li>
                    <li class="py-1"><i class="icon-check text-success"></i> Modification du site: 9</li>
                    <li class="py-1"><i class="icon-check text-success"></i> Sous 15 jours ouvrés</li>
                  </ul>
                  <div class="d-flex mt-3 align-items-center">
                    <h2 class="price">€550</h2>
                    <div class="ml-auto"><a class="btn btn-danger rounded-pill text-white btn-md border-0" href="">Choisir Package</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- fin de package création -->
    <!-- début de package cours -->
    <div class="container-fluid" id="package-cours">
      <div class="pricing4 py-5 bg-light">
        <div class="container">
          <!-- Row  -->
          <div class="row justify-content-center">
            <div class="col-md-8 text-center">
              <h4 class="display-4">Nos Package - Cours</h4>
              <h6 class="subtitle font-weight-normal">On vous propose les différents cours pour apprendre les différents langages de dévelopment web Front et Back-end.</h6>
=======

    {% include 'components/_nav.html.twig' %}

    <!-- début de header -->
    <main class="container-fluid">
        <div class="row">
            <div class="col">
                {% block body %}{% endblock %}
>>>>>>> Stashed changes
            </div>
          </div>
          <!-- Row  -->
          <div class="row mt-4">
            <!-- Column -->
            <div class="col-md-4">
              <div class="card card-shadow border-0 mb-4">
                <img class="card-img-top" src="imgs/pkg-imgs/bronze-3.png" alt="wrappixel kit">
                <div class="p-3">
                  <h5 class="font-weight-medium mb-0">BRONZE PACKAGE</h5>
                  <!-- <h6 class="subtitle font-13">Standard package</h6> -->
                  <ul class="list-inline font-14 mt-3">
                    <li class="py-1"><i class="icon-check text-success"></i> Langages: HTML, CSS3, JavaScript</li>
                    <li class="py-1"><i class="icon-check text-success"></i> Framework: Bootstrap </li>
                    <li class="py-1"><i class="icon-check text-success"></i> Decouvert/Utilisation des langages</li>
                    <li class="py-1"><i class="icon-check text-success"></i> Mise en pratique des Langages</li>
                    <li class="py-1"><i class="icon-check text-success"></i> Heures Totaux : 30h</li>
                  </ul>
                  <div class="d-flex mt-3 align-items-center">
                    <h2 class="price">€100</h2>
                    <div class="ml-auto"><a class="btn btn-danger rounded-pill text-white btn-md border-0" href="">Choisir Package</a></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Column -->
            <div class="col-md-4">
              <div class="card card-shadow border-0 mb-4">
                <img class="card-img-top" src="imgs/pkg-imgs/silver-3.png" alt="wrappixel kit">
                <div class="p-3">
                  <h5 class="font-weight-medium mb-0">SILVER PACKAGE</h5>
                  <!-- <h6 class="subtitle font-13">with CODE MAN</h6> -->
                  <ul class="list-inline font-14 mt-3">
                    <li class="py-1"><i class="icon-check text-success"></i> langages: SQL, PHP, PHP POO(objet orienté)  </li>
                    <li class="py-1"><i class="icon-check text-success"></i> Framework : Symfony</li>
                    <li class="py-1"><i class="icon-check text-success"></i> BDD avec phpmyadmin</li>
                    <li class="py-1"><i class="icon-check text-success"></i> Découvert/utilisation de MVC</li>
                    <li class="py-1"><i class="icon-check text-success"></i> Heures Totaux : 50h</li>
                  </ul>
                  <div class="d-flex mt-3 align-items-center">
                    <h2 class="price">€250</h2>
                    <div class="ml-auto"><a class="btn btn-danger rounded-pill text-white btn-md border-0" href="">Choisir Package</a></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Column -->
            <div class="col-md-4">
              <div class="card card-shadow border-0 mb-4">
                <img class="card-img-top" src="imgs/pkg-imgs/gold-3.png" alt="wrappixel kit">
                <div class="p-3">
                  <h5 class="font-weight-medium mb-0">GOLD PACKAGE</h5>
                  <!-- <h6 class="subtitle font-13">with CODE MAN</h6> -->
                  <ul class="list-inline font-14 mt-3">
                    <li class="py-1"><i class="icon-check text-success"></i> Langages front-end : HTML, CSS, JavaScript </li>
                    <li class="py-1"><i class="icon-check text-success"></i> Langages Back-end : PHP, SQL, Node.js </li>
                    <li class="py-1"><i class="icon-check text-success"></i> Framework : JQUERY, Angular, Symfony</li>
                    <li class="py-1"><i class="icon-check text-success"></i> BDD phpmyadmin , firebase</li>
                    <li class="py-1"><i class="icon-check text-success"></i> Heures Totaux : 120h </li>
                  </ul>
                  <div class="d-flex mt-3 align-items-center">
                    <h2 class="price">€500</h2>
                    <div class="ml-auto"><a class="btn btn-danger rounded-pill text-white btn-md border-0" href="">Choisir Package</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- fin de package cours -->
    <!-- début de contactez nous -->

    <div class="container" id="contactez-nous">
        <div>
            <h4 class="display-4 text-center">Contactez Nous</h4>
        </div>
        <form action="" method="post">
            <div class="form-group">
                <label for="nom">Nom:</label>
                <input type="text" name="nom" class="form-control" placeholder="Nom">
            </div>

<<<<<<< Updated upstream
            <div class="form-group">
                <label for="prenom">Prenom:</label>
                <input type="text" name="prenom" class="form-control" placeholder="Prenom">
            </div>
=======
    {% include 'components/_footer.html.twig' %}
>>>>>>> Stashed changes

            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" placeholder="Votre mail" class="form-control">
            </div>

<<<<<<< Updated upstream
            <div class="form-group">
                <label for="message">Message:</label>
                <textarea name="message" id="message" cols="50" rows="10" class="form-control" placeholder="Votre message"></textarea>
            </div>

            <div class="form-group text-center">
                <input type="submit" name="submit" id="submit-btn" class="btn btn-primary">
            </div>
        </form>
    </div>
    <!-- fin de contactez nous -->
    <!-- début de propos de nous -->
    <div class="container" id="qui-sommes-nous">
        <div class="row text-center">
            <div class="col-12">
                <h4 class="display-4">Qui Sommes Nous?</h4>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Impedit hic perferendis totam iste illum et nisi delectus
                    ipsum placeat voluptatum vitae quas optio minus velit expl
                    icabo accusantium, praesentium voluptates? Laudantium ut vo
                    luptatum veritatis, dolores ratione numquam nihil
                    vel tempora quos sequi porro velit corrupti esse
                    exercitationem, non ullam ad aut!
                </p>
            </div>
        </div>
    </div>
    <!-- fin e propos de nous -->


    <!-- début de footer -->
    <footer class="container-fluid">
        <div class="row text-center">
            <div class="col-sm-3">
                <ul class="d-flex">
                    <li><a href="#"><i class="fab fa-facebook icons"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter icons"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube icons"></i></a></li>
                </ul>
            </div>
            <p class="lead col-md-6">
                &copy; Cette site web est créé par les jeunes de webforce 3
            </p>

        </div>
        <div class="row text-center">
            <div class="col-md-12 ">
                <p class="lead">Paiement:
                    <a href="#"><i class="fab fa-cc-paypal icon-paie"></i></a>
                    <a href="#"><i class="fab fa-stripe icon-paie"></i></a>
                </p>
            </div>
        </div>
    </footer>
    <!-- fin de footer -->

=======
>>>>>>> Stashed changes
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
            <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        {% endblock %}
    </body>
</html>
