<!-- début de footer -->
<footer class="container-fluid">
    <div class="row text-center">
        <div class="col-sm-3">
            <ul class="d-flex">
                <li><a href="#"><i class="fab fa-facebook icons"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter icons"></i></a></li>
                <li><a href="#"><i class="fab fa-youtube icons"></i></a></li>
            </ul>
        </div>
        <p class="lead col-md-6">
            &copy; Ce site web a été créé par des jeunes de webforce 3
        </p>

    </div>
    <div class="row text-center">
        <div class="col-md-12 ">
            <p class="lead">Paiement:
                <a href="#"><i class="fab fa-cc-paypal icon-paie"></i></a>
                <a href="#"><i class="fab fa-stripe icon-paie"></i></a>
            </p>
        </div>
    </div>
</footer>