.form-login{
    width: 50% ;
    margin: 0 auto;
}

.form-login .btn-primary {
    background-color: #8400FF;
    border: #8400FF;
}

.form-login .btn-primary:hover {
    background-color: #7313C3;
}